@import "style";
@import "null";
//@import "container";
#app {
  //background: rgba(255, 254, 251, 0.8);

  .wrapper {
    background: rgba(255, 188, 0, 0.8);

    .product {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0px 0px 0px; //b 16px
      &__title {
        display: inline-block;

        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
      }

      &__sort {
        position: fixed;
        top: 16px;
        right: 32px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        //padding: 0px 16px;
        background: #FFFEFB;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 121.5px;
        height: 36px;
        cursor: pointer;

        &:hover {
          border: 1px solid #c5c5c5;
        }

        &.__active {
          z-index: 10;
          display: block;
          height: 109px;

          &:hover {
            border: 0;
          }
        }

        &Btn {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
          height: 36px;
          width: 121.5px;
          margin-top: 0px;
          color: #3f3f3f;
          cursor: pointer;

          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;

          &:first-child {
            margin-top: 0;
            color: #B4B4B4;
            &:hover {
              color: red !important;
            }
          }

          &:hover {
            background: #e5e5e5;
          }

          &.__current {
            display: flex;
            align-items: center;
            padding: 0px 16px;
            color: #B4B4B4;
          }

        }

        .arrow {
          position: relative;
          top: 0px;
        }
      }

      &__main {
        display: flex;
        flex-flow: row;

        .panel {
          margin-top: 16px;
          position: sticky;
          top: 24px;
          // Сообщение об ошибке при заполнении
          .requireErr {
            color: #FF8484;
            margin: 4px 0px 0px 0px;
            position: absolute;
            transform: translate(0, 52px);
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: -0.02em;
            text-align: left;
          }
        }
      }

      &__list {

        padding-top: 16px;
        margin: 0px 0px 0px 16px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        flex-basis: 100%;

        @include transitionAll();
        //transition: all 0.3s ease 0s;
      }

      &Card {
        margin: 0 16px 16px;
      }

      &__card {

      }
    }
  }
}